{% extends 'dealer/base.html' %}
{% load path_tag_filter %}
{% block content_Card %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for object in object_list %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{object.product_name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{object.price}}<small class="text-body-secondary fw-light"> руб.</small></h1>
              {{object.description}} <br>
              <img src="{{"dealer/Minduka_Present_Blue_Pack.png"|mediapath}}" alt="Present"><br>
              <img width="50px" src="{% get_media_prefix "dealer/Minduka_Present_Blue_Pack.png" %}" alt="Present"><br>
          </div>
          <div class="card-footer">
            <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
            <a class="btn btn-primary" href="{% url 'dealer:detail' object.pk %}" role="button">Подробнее</a>
            <a class="btn btn-primary" href="{% url 'dealer:update' object.pk %}" role="button">Изменить</a>
            <a class="btn btn-primary" href="{% url 'dealer:delete' object.pk %}" role="button">Удалить</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}